[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "vim-multiple-cursors"]
	path = vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim-tmux-navigator"]
	path = vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "auto-pairs"]
	path = auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim-easymotion"]
	path = vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/ricpelo/solarized.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-snippets"]
	path = vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim-gdscript"]
	path = vim-gdscript
	url = https://github.com/ricpelo/vim-gdscript.git
[submodule "vim-session"]
	path = vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "vim-misc"]
	path = vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim-renpy"]
	path = vim-renpy
	url = https://github.com/ricpelo/vim-renpy.git
[submodule "ultisnips"]
	path = ultisnips
	url = https://github.com/sirver/ultisnips.git
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = http://github.com/airblade/vim-gitgutter.git
[submodule "vim-ruby"]
	path = vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim-endwise"]
	path = vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim-easytags"]
	path = vim-easytags
	url = https://github.com/xolox/vim-easytags.git
