"*":
  "exception-reporting":
    userId: "49667b0b-f4eb-a0d3-100b-12f941688fe8"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    invisibles: {}
    fontFamily: "Input"
    fontSize: 17
    showIndentGuide: true
    tabLength: 4
  "keyboard-localization":
    useKeyboardLayout: "es_ES"
  "symbols-tree-view":
    autoHide: true
    autoToggle: true
  "vim-mode": {}
  "one-dark-ui":
    fontSize: 13
