"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnType: false
  "autoclose-html":
    makeNeverCloseSelfClosing: false
  "autocomplete-plus":
    autoActivationDelay: 300
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 18
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "git-diff":
    showIconsInEditorGutter: true
  jumpy:
    highContrast: true
  "linter-phpcs":
    codeStandardOrConfigFile: "vendor/yiisoft/yii2-coding-standards/Yii2"
    ignorePatterns: [
      "**/views/**"
      "**/tests/**"
    ]
    tabWidth: 4
  minimap:
    absoluteMode: true
    plugins:
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
  "one-light-ui":
    fontSize: 14
  "php-cs-fixer":
    executablePath: "vendor/bin/php-cs-fixer"
    executeOnSave: true
    pathMode: "intersection"
  "php-ide-serenata":
    general:
      doNotAskForSupport: true
  "spell-check":
    locales: [
      "es-ES"
    ]
  welcome:
    showOnStartup: false
  zentabs:
    neverCloseUnsaved: true
