"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnType: false
    "atom-ide-diagnostics-ui": {}
    "atom-ide-outline-view": {}
    hyperclick: {}
    use: {}
  "autoclose-html":
    makeNeverCloseSelfClosing: false
  "autocomplete-plus":
    autoActivationDelay: 300
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "metrics"
      "linter"
      "linter-ui-default"
      "ide-php"
    ]
    packagesWithKeymapsDisabled: [
      "multi-cursor"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 18
    scrollPastEnd: true
    scrollSensitivity: 200
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "git-diff":
    showIconsInEditorGutter: true
  "git-log":
    fontFamily: "Input, Inconsolata, Monaco, Consolas, 'Courier New', Courier"
    fontScale: 0.8
  jumpy:
    highContrast: true
  "linter-phpcs":
    codeStandardOrConfigFile: "vendor/yiisoft/yii2-coding-standards/Yii2"
    executablePath: "vendor/bin/phpcs"
    ignorePatterns: [
      "**/views/**"
      "**/tests/**"
    ]
  minimap:
    absoluteMode: true
    plugins:
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
  "one-dark-ui":
    fontSize: 14
  "one-light-ui":
    fontSize: 14
  "php-cs-fixer":
    executablePath: "vendor/bin/php-cs-fixer"
    executeOnSave: true
    pathMode: "intersection"
  "php-debug":
    AutoExpandLocals: true
    currentPanelMode: "bottom"
    showWelcome: false
  "php-integrator-base:confirmed-upgrade-message": true
  "php-integrator-navigation":
    navigationRequireAltKey: false
    navigationRequireMetaKey: true
  "spell-check":
    locales: [
      "es_ES.UTF-8"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "symbols-list": {}
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  zentabs:
    neverCloseUnsaved: true
".diff.source":
  editor:
    tabLength: 4
".html.php.text":
  editor:
    tabLength: 4
