'atom-workspace atom-text-editor:not([mini])':
  'ctrl-alt-down': 'multi-cursor:expandDown'
  'ctrl-alt-up': 'multi-cursor:expandUp'

  'ctrl-alt-right': 'multi-cursor:move-last-cursor-right'
  'ctrl-alt-left': 'multi-cursor:move-last-cursor-left'

  'ctrl-enter': 'datatip:toggle'
