'atom-workspace atom-text-editor:not([mini])':
  'ctrl-shift-down': 'multi-cursor:expandDown'
  'ctrl-shift-up': 'multi-cursor:expandUp'

  'ctrl-shift-right': 'multi-cursor:move-last-cursor-right'
  'ctrl-shift-left': 'multi-cursor:move-last-cursor-left'

  'ctrl-t': 'toggle-quotes:toggle'
